/* RESETS */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
input,
button {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
    scroll-padding-block-start: 2rem;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* GLOBAL VARIABLES */
:root {
    /* Font  */
    font-family: "Space Mono", sans-serif;
    line-height: 2.5rem;

    /* Font sizes */
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;

    /* Font weight */
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* Colours */
    --clr-black: #000;
    --clr-underline: #DE970B;
    --clr-accent: #bcde0b;

    /* Modular Scales */
    --ratio: 1.61803398875;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1.125rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /* Width */
    --measure: 65ch;
    --space: 1rem;
}

/* ELEMENT STYLING */
section:target h1{
    text-decoration: underline 5px var(--clr-underline) dashed;   
}

h1 {
    line-height: 3rem;
    text-decoration: underline 3px var(--clr-underline) solid;
    transition: text-decoration 500ms ease-in-out; 
}

h1:hover {
    text-decoration: underline 3px var(--clr-accent) solid;
}

p,
a,
li {
    font-size: var(--fs-20);
}

section>div>h1+p {
    font-size: var(--fs-16);
    line-height: 1.7;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: var(--fw-900);
    transition: text-decoration 700ms ease-in-out;
}

a:hover {
    text-decoration: line-through 3px var(--clr-underline);
}

button {
    display: inline-block;
    font-weight: var(--fw-900);
    background: #fff;
    outline: 2px solid var(--clr-black);
    padding: .65rem;
    box-shadow: 10px 10px 5px black;
    transition: 100ms 20ms ease-in-out;
    max-width: 16rem;
    transition-property: transform, box-shadow, background;
}

button:hover {
    background: var(--clr-underline);
}

button:active {
    box-shadow: -2px -2px 1px black;
    transform: translateX(8px) translateY(8px);
}

/* UTILITY CLASSES */
.container {
    padding-inline-start: var(--s2);
    padding-inline-end: var(--s2);
    padding-block: 1rem;
    max-width: 80rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.text-clip {
    max-width: var(--measure);
}

.center {
    display: grid;
    place-items: center;
}

.outline {
    border: 1px solid var(--clr-black);
    padding: 1rem;
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s1);
}

.switcher>* {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
}

.switcher> :nth-last-child(n+ 4),
.switcher> :nth-last-child(n+ 4)~* {
    flex-basis: 100%;
}

.stack {
    --space:var(--s3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack>* {
    margin-top: 0;
    margin-bottom: 0;
}

.stack>*+* {
    margin-top: var(--space, 1.5rem);
}

.inner-stack {
    --spacer:var(--s1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inner-stack>* {
    margin-top: 0;
    margin-bottom: 0;
}

.inner-stack>*+* {
    margin-top: var(--spacer, 1.5rem);
}

/* SECTIONAL STYLING */
header {
    background-color: var(--clr-black);
}

header>nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header>nav>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--s1);
}

header>nav>ul>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--s1);
}

#learn {
    align-items: center;
}

.explore>article {
    justify-content: space-between;
}

.explore-nav>li {
    position: relative;
    border-bottom: 1px solid #000;
    padding: .75rem;
}

.explore-nav>li .fas {
    position: absolute;
    right: 0;
    top: 20px;
}

address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main a, footer a {
    color: var(--clr-black);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}